@model Congratulator.Models.UserDbModel;

@{
    ViewData["Title"] = "Подробная информация";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mb-4">
                <img src="~/images/@Html.DisplayFor(model => model.Avatar)" class="card-img-top" alt="avatar">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.BDate)</p>
                    <div class="text-center"><a asp-action="Index" class="text-decoration-none">Вернуться</a></div>
                </div>
            </div>
        </div>
    </div>
</div>